<div class="query-panel-container" [attr.data-testid]="environment.includeTestIds ? 'query-panel' : null">
  <!-- Filter Panel - Domain Agnostic -->
  <div class="filter-panel-container">
    <div class="filter-grid">
      <!-- Dynamic Filter Rendering from domainConfig.filters -->
      <ng-container *ngFor="let filterDef of domainConfig.filters">
        <!-- Skip search filter - outer panel handles global search -->
        <ng-container *ngIf="filterDef.id !== 'search'">
          <div class="filter-field">
            <label [for]="filterDef.id">{{ filterDef.label }}</label>
            <!-- Text Input with Clear -->
            <ng-container *ngIf="filterDef.type === 'text'">
              <span class="p-input-icon-right" style="display: block;">
                <i class="pi pi-times"
                  *ngIf="currentFilters[filterDef.id]"
                  (click)="onFilterChange(filterDef.id, null)"
                  style="cursor: pointer;"></i>
                <input pInputText
                  [id]="filterDef.id"
                  [(ngModel)]="currentFilters[filterDef.id]"
                  (ngModelChange)="onFilterChange(filterDef.id, $event, true)"
                  [placeholder]="filterDef.placeholder || ''"
                  style="width: 100%;">
              </span>
            </ng-container>
            <!-- Number Input with Clear -->
            <ng-container *ngIf="filterDef.type === 'number'">
              <div class="p-inputgroup">
                <p-inputNumber [id]="filterDef.id"
                  [(ngModel)]="currentFilters[filterDef.id]"
                  (ngModelChange)="onFilterChange(filterDef.id, $event)"
                  [showButtons]="true"
                  [min]="+(filterDef.min ?? 0)"
                  [max]="+(filterDef.max ?? 999999)"
                  [step]="filterDef.step ?? 1"
                  [useGrouping]="filterDef.format?.number?.useGrouping ?? true"
                  [minFractionDigits]="filterDef.format?.number?.minimumFractionDigits ?? 0"
                  [maxFractionDigits]="filterDef.format?.number?.maximumFractionDigits ?? 0"
                  [placeholder]="filterDef.placeholder || ''">
                </p-inputNumber>
                <button
                  *ngIf="currentFilters[filterDef.id] != null"
                  pButton type="button" icon="pi pi-times"
                  class="p-button-outlined p-button-secondary"
                  (click)="onFilterChange(filterDef.id, null)"></button>
              </div>
            </ng-container>
            <!-- Range Input (dual number inputs for min/max) -->
            <ng-container *ngIf="filterDef.type === 'range'">
              <!-- Range Min with Clear -->
              <div class="p-inputgroup">
                <p-inputNumber [id]="filterDef.id + 'Min'"
                  [(ngModel)]="currentFilters[filterDef.id + 'Min']"
                  (ngModelChange)="onFilterChange(filterDef.id + 'Min', $event)"
                  [showButtons]="true"
                  [min]="+(filterDef.min ?? 0)"
                  [max]="+(filterDef.max ?? 999999)"
                  [step]="filterDef.step ?? 1"
                  [useGrouping]="filterDef.format?.number?.useGrouping ?? true"
                  [minFractionDigits]="filterDef.format?.number?.minimumFractionDigits ?? 0"
                  [maxFractionDigits]="filterDef.format?.number?.maximumFractionDigits ?? 0"
                  placeholder="Min">
                </p-inputNumber>
                <button
                  *ngIf="currentFilters[filterDef.id + 'Min'] != null"
                  pButton type="button" icon="pi pi-times"
                  class="p-button-outlined p-button-secondary"
                  (click)="onFilterChange(filterDef.id + 'Min', null)"></button>
              </div>
            </ng-container>
            <!-- Select Dropdown (single) -->
            <ng-container *ngIf="filterDef.type === 'select'">
              <p-dropdown
                [id]="filterDef.id"
                [(ngModel)]="currentFilters[filterDef.id]"
                (ngModelChange)="onFilterChange(filterDef.id, $event)"
                [options]="getFilterOptions(filterDef.id)"
                optionLabel="label"
                optionValue="value"
                [showClear]="true"
                [filter]="true"
                filterBy="label"
                [autoDisplayFirst]="false"
                [placeholder]="filterDef.placeholder || 'Select...'">
              </p-dropdown>
            </ng-container>
            <!-- Multi-Select Dropdown -->
            <ng-container *ngIf="filterDef.type === 'multiselect'">
              <p-multiSelect
                [id]="filterDef.id"
                [(ngModel)]="currentFilters[filterDef.id]"
                (ngModelChange)="onFilterChange(filterDef.id, $event)"
                [options]="getFilterOptions(filterDef.id)"
                optionLabel="label"
                optionValue="value"
                [filter]="true"
                filterBy="label"
                [showClear]="true"
                [placeholder]="filterDef.placeholder || 'Select...'">
              </p-multiSelect>
            </ng-container>
            <!-- Autocomplete Input with progressive search -->
            <ng-container *ngIf="filterDef.type === 'autocomplete'">
              <div class="autocomplete-field">
                <p-autoComplete #autocomplete
                  [id]="filterDef.id"
                  [(ngModel)]="currentFilters[filterDef.id]"
                  (onSelect)="onFilterChange(filterDef.id, $event)"
                  (onClear)="onFilterChange(filterDef.id, null)"
                  (onKeyUp)="onAutocompleteKeyUp($event, autocomplete, filterDef.id)"
                  (onBlur)="handleAutocompleteBlur($event, filterDef.id, autocomplete)"
                  [suggestions]="autocompleteSuggestions[filterDef.id] || []"
                  (completeMethod)="onAutocompleteSearch($event, filterDef)"
                  (onFocus)="onAutocompleteFocus(filterDef)"
                  [minLength]="filterDef.autocompleteMinChars || 1"
                  [dropdown]="false"
                  [forceSelection]="false"
                  [placeholder]="filterDef.placeholder || 'Type to search...'"
                  [showClear]="true"
                  [delay]="300"
                  [scrollHeight]="'300px'"
                  appendTo="body"
                  styleClass="w-full">
                </p-autoComplete>
              </div>
            </ng-container>
            <!-- Date Picker with Clear -->
            <ng-container *ngIf="filterDef.type === 'date'">
              <div class="p-inputgroup">
                <p-calendar [id]="filterDef.id"
                  [(ngModel)]="currentFilters[filterDef.id]"
                  (ngModelChange)="onFilterChange(filterDef.id, $event)"
                  dateFormat="yy-mm-dd">
                </p-calendar>
                <button
                  *ngIf="currentFilters[filterDef.id]"
                  pButton type="button" icon="pi pi-times"
                  class="p-button-outlined p-button-secondary"
                  (click)="onFilterChange(filterDef.id, null)"></button>
              </div>
            </ng-container>
            <!-- Boolean Checkbox -->
            <ng-container *ngIf="filterDef.type === 'boolean'">
              <p-checkbox
                [id]="filterDef.id"
                [(ngModel)]="currentFilters[filterDef.id]"
                (ngModelChange)="onFilterChange(filterDef.id, $event)"
                [binary]="true">
              </p-checkbox>
            </ng-container>
          </div>
          <!-- Range Max (second input for range type) with Clear -->
          <div class="filter-field" *ngIf="filterDef.type === 'range'">
            <label [for]="filterDef.id + 'Max'">{{ filterDef.label }} Max</label>
            <div class="p-inputgroup">
              <p-inputNumber [id]="filterDef.id + 'Max'"
                [(ngModel)]="currentFilters[filterDef.id + 'Max']"
                (ngModelChange)="onFilterChange(filterDef.id + 'Max', $event)"
                [showButtons]="true"
                [min]="+(filterDef.min ?? 0)"
                [max]="+(filterDef.max ?? 999999)"
                [step]="filterDef.step ?? 1"
                [useGrouping]="filterDef.format?.number?.useGrouping ?? true"
                [minFractionDigits]="filterDef.format?.number?.minimumFractionDigits ?? 0"
                [maxFractionDigits]="filterDef.format?.number?.maximumFractionDigits ?? 0"
                placeholder="Max">
              </p-inputNumber>
              <button
                *ngIf="currentFilters[filterDef.id + 'Max'] != null"
                pButton type="button" icon="pi pi-times"
                class="p-button-outlined p-button-secondary"
                (click)="onFilterChange(filterDef.id + 'Max', null)"></button>
            </div>
          </div>
        </ng-container>
      </ng-container>

      <!-- Clear Filters Button -->
      <div class="filter-field">
        <label>&nbsp;</label>
        <button pButton
          type="button"
          label="Clear Filters"
          icon="pi pi-filter-slash"
          class="p-button-outlined"
          (click)="clearFilters()"></button>
      </div>
    </div>
  </div>
</div>
