<div class="panel-popout-container">

  <!-- Panel Content - Render based on type -->
  <div class="popout-content" [ngSwitch]="panelType">
    <!-- Query Control -->
    <ng-container *ngSwitchCase="'query-control'">
      <app-query-control
        [domainConfig]="domainConfig"
        (urlParamsChange)="onUrlParamsChange($event)"
        (clearAllFilters)="onClearAllFilters()">
      </app-query-control>
    </ng-container>
    <!-- Picker (Manufacturer-Model Picker) -->
    <ng-container *ngSwitchCase="'picker'">
      <app-base-picker
        [configId]="getPickerConfigId()"
        (selectionChange)="onPickerSelectionChange($event)">
      </app-base-picker>
    </ng-container>
    <!-- Statistics Panel (CDK Mixed Orientation Chart Grid) -->
    <ng-container *ngSwitchCase="'statistics-2'">
      <app-statistics-panel-2
        [domainConfig]="domainConfig">
      </app-statistics-panel-2>
    </ng-container>
    <!-- Results Table -->
    <ng-container *ngSwitchCase="'results'">
      <app-results-table
        [domainConfig]="domainConfig">
      </app-results-table>
    </ng-container>
    <!-- Query Panel (filters only) -->
    <ng-container *ngSwitchCase="'query-panel'">
      <app-query-panel
        [domainConfig]="domainConfig"
        (urlParamsChange)="onUrlParamsChange($event)"
        (clearAllFilters)="onClearAllFilters()">
      </app-query-panel>
    </ng-container>
    <!-- Dynamic Results Table (drag-drop columns, resizable widths) -->
    <ng-container *ngSwitchCase="'basic-results'">
      <app-dynamic-results-table
        [domainConfig]="domainConfig"
        (urlParamsChange)="onUrlParamsChange($event)">
      </app-dynamic-results-table>
    </ng-container>
    <!-- Individual Chart -->
    <ng-container *ngSwitchCase="'chart'">
      <app-base-chart
        [dataSource]="getChartDataSource()"
        [statistics]="resourceService.statistics"
        [highlights]="resourceService.highlights"
        [selectedValue]="null"
        (chartClick)="onChartClick($event)">
      </app-base-chart>
    </ng-container>
    <!-- Unknown panel type -->
    <ng-container *ngSwitchDefault>
      <div class="unknown-panel">
        <p>Unknown panel type: {{ panelType }}</p>
        <p>Panel ID: {{ panelId }}</p>
      </div>
    </ng-container>
  </div>
</div>
